---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import SectionNav from '../../components/SectionNav.astro';
import PageNav from 'src/components/PageNav.astro';
import AssessmentToolbar from '../../components/AssessmentToolbar.astro';
import AssessmentDialogs from '../../components/dialogs/AssessmentDialogs.astro';
import AssessmentToasts from '../../components/AssessmentToasts.astro';
import Component from '../../components/Component.astro';
import IconCompass from 'src/components/icons/IconCompass_24.astro';
import IconArrowDownSmall from 'src/components/icons/IconArrowDown_16.astro';
import IconArrowRightSmall from 'src/components/icons/IconArrowRight_16.astro';
import IconArrowLeftSmall from 'src/components/icons/IconArrowLeft_16.astro';
import MediaDialog from 'src/components/dialogs/MediaDialog.astro';

let path = Astro.url.pathname;

// Get the current indicator
export async function getStaticPaths() {
	const training = await getCollection('training');
	return training.map((training) => ({
		params: { slug: training.id },
		props: { training },
	}));
}

const { headings } = await training.render();

// TODO: Check how best to add the id to the heading for jump links
let sectionLinks = [];
for (let heading of headings) {
	sectionLinks.push({
		url: `${path}#${heading.slug}`,
		text: `${heading.text}`,
	});
}

// Store the path to the entry
const pathToTraining = `src/content/training/${training.id}`;

// Get all training content files
let allContent = Object.values(
	import.meta.glob('src/content/training/**/pageContent.md', {
		eager: true,
	}),
);

// Get the current entry's content file
let pageContent: any = allContent.find((match: any) => match.file.includes(pathToTraining));
---

<BaseLayout
	pageTitle={training.data.title}
	indicatorTag={training.data.tag}
	pageType={'big-seven'}
>
	<MediaDialog />

	<PageNav sectionLinks={sectionLinks} />

	<div class="content">
		<h1
			id="main-heading"
			tabindex="-1"
		>
			{training.data.title}
		</h1>

		{pageContent && <pageContent.Content />}
	</div>
</BaseLayout>
