---
import { getResourcePath } from 'src/utilities/helpers';

import { toTitleCase } from 'src/utilities/helpers';

import ResourceIcons from './icons/ResourceIcons.astro';
import IconArrowRight from './icons/IconArrowRight_16.astro';
import IconExpand from './icons/IconExpand_16.astro';
import IconExternal from './icons/IconExternal_16.astro';
import IconDownload from './icons/IconDownload_16.astro';

let { itemData, isInListItem = false } = Astro.props;

let {
	category = null,
	title = null,
	tag = null,
	type = null,
	audience = null,
	dateAdded = null,
	description = null,
	external = null,
	indicator = null,
	slug = null,
	linkAction = null,
	linkedIndicators = null,
	linkedComponents = null,
	linkedConsiderations = null,
} = itemData;

let path;
let date = null;
if (category === 'resource') {
	path = getResourcePath(itemData);
	date = new Date(dateAdded).toLocaleDateString('en-US', {
		day: 'numeric',
		month: 'long',
		year: 'numeric',
	});
} else if (category === 'indicator') {
	path = `./big-seven/${slug}/`;
} else if (category === 'component') {
	path = `./big-seven/${indicator}/#${category}-${tag.replaceAll('.', '-')}`;
} else if (category === 'training') {
	path = `./training/${slug}/`;
}

let typeColourMap = {
	video: 'red',
	document: 'orange',
	webinar: 'green',
	website: 'teal',
	community: 'blue',
	course: 'purple',
};
let typeColour = typeColourMap[type];

let indicatorColourMap = {
	'1': 'red',
	'2': 'orange',
	'3': 'yellow',
	'4': 'green',
	'5': 'teal',
	'6': 'blue',
	'7': 'purple',
};

let tags = null;
if (category === 'resource') {
	if (linkedIndicators || linkedComponents || linkedConsiderations) {
		tags = linkedIndicators.concat(linkedComponents, linkedConsiderations);
		tags = tags.map((tag) => {
			return {
				colour: indicatorColourMap[tag.charAt(0)],
				tag,
			};
		});
		tags.sort((a, b) => {
			return (a.tag || '').localeCompare(b.tag || '');
		});
	}
} else if (category === 'training') {
	if (audience) {
		tags = audience.map((tag) => {
			return {
				colour: typeColour,
				tag: toTitleCase(tag),
			};
		});
	}
}

// If resource is a video or internal audio, open it in a dialog
let opensDialog = false;
if (category === 'resource') opensDialog = linkAction === 'dialog';
let InteractiveWrapper = opensDialog ? 'button' : 'a';
let interactiveWrapperAttrs = opensDialog
	? {
			class: 'open-dialog detailed-link',
			type: 'button',
			role: isInListItem ? 'option' : null,
			'data-style-as': 'link',
			'data-dialog': 'media-dialog',
			'data-dialog-heading': title,
			'data-media-type': type,
			'data-media-src': path,
			'data-media-external': external.discriminant,
			'data-theme': typeColour,
			'data-vibrancy': 'vivid',
		}
	: {
			class: 'detailed-link',
			href: path,
			role: isInListItem ? 'option' : null,
			'data-theme': typeColour,
			'data-vibrancy': 'vivid',
		};

let DestinationIcon = null;

// Pages and Locations
if (category !== 'resource') {
	DestinationIcon = IconArrowRight;
}
// Embedded Media
else if (opensDialog) {
	DestinationIcon = IconExpand;
}
// Internal Files
else if (external.discriminant === false && ['document', 'presentation'].includes(type)) {
	DestinationIcon = IconDownload;
}
// Everything else
else {
	DestinationIcon = IconExternal;
}
---

<InteractiveWrapper {...interactiveWrapperAttrs}>
	<div class="banner">
		<ResourceIcons
			type={type}
			containerClasses={['type-icon-container']}
			iconClasses={['type']}
		/>
		<span class="icon-container">
			{DestinationIcon && <DestinationIcon classes={['destination']} />}
		</span>
	</div>
	<div class="wrapper">
		<ResourceIcons
			type={type}
			containerClasses={['type-icon-container']}
			iconClasses={['type']}
		/>
		<div
			class="separator group"
			data-orientation="vertical"
			aria-hidden="true"
		>
		</div>
		<span class="text-container">
			<span class="detailed label">
				{
					category !== 'resource'
						? `${toTitleCase(category)} ${tag}`
						: `${toTitleCase(type)} Resource`
				}
			</span>
			{category === 'resource' && <span class="simple label">{toTitleCase(type)}</span>}
			<span class="title">
				{title}
				{
					tags && (
						<ul class="tags-list">
							{tags.map((tag) => (
								<li
									class="tag"
									data-theme={tag.colour}
									data-vibrancy="vivid"
								>
									{tag.tag}
								</li>
							))}
						</ul>
					)
				}
			</span>
			{
				date && (
					<span
						class="date"
						data-theme="red"
					>
						Date Added: {date}
					</span>
				)
			}
			{description && <span class="description">{description}</span>}
		</span>
		<span class="destination-icon-container icon-container">
			{DestinationIcon && <DestinationIcon classes={['destination']} />}
		</span>
	</div>
</InteractiveWrapper>

<style is:global>
	/* 
	// Detailed Link
	// ------------------------*/

	:is(a, [data-style-as='link']).detailed-link {
		--link-ui-colour: var(--colour-ui-neutral-subtle);
		container: detailed-link / inline-size;

		width: 100%;
		background-color: var(--link-background-colour, transparent);
		border-radius: var(--border-radius-normal);
		line-height: 1.2;
		text-decoration: none;

		/* 
		// Wrapper
		*/

		& .wrapper {
			display: flex !important;
			flex-flow: row nowrap;
			align-items: center;
			gap: var(--space-xs);
			width: 100%;
			padding: var(--space-xs) var(--space-sm) var(--space-xs) var(--space-xs);
		}

		/* 
		// Banner 
		*/

		& .banner {
			display: none;
			align-items: center;
			justify-content: space-between;
			padding: var(--space-2xs) var(--space-base);
			background-color: var(--colour-fill-accent-subtle, var(--colour-fill-neutral-subtle));
			border-bottom: 1px solid
				var(--colour-border-accent-subtle, var(--colour-border-neutral-subtle));
			border-radius: var(--border-radius-normal) var(--border-radius-normal) 0 0;
			min-height: 2rem;

			& .type-icon-container {
				--label-colour: var(--colour-ui-accent-subtle, var(--colour-ui-neutral));
			}

			& .icon {
				--icon-colour: var(--colour-ui-accent-subtle, var(--colour-ui-neutral));
			}
		}

		/*
		// Type Icon and Label
		*/

		& .type-icon-container {
			--label-colour: var(--link-ui-colour);
			--label-size: var(--font-size-2xs);
			--icon-colour: var(--link-ui-colour);

			grid-area: type;
			place-self: stretch;
			flex-wrap: nowrap;
			flex-shrink: 0;
		}

		/*
		// Destination Icon
		*/

		& :is(.icon.destination, .icon.type) {
			position: unset !important;
		}

		& .icon.destination {
			@media (hover: hover) {
				opacity: 0;
				scale: 90%;
				transition:
					opacity var(--transition-linear-fast),
					scale var(--transition-ease-fast);
			}
		}

		/*
		// Separator
		*/

		& .separator {
			--separator-colour: var(--link-border-colour);

			grid-area: separator;
			align-self: stretch;
		}

		/*
		// Text Container
		*/

		& .text-container {
			grid-area: text;
			display: flex;
			flex-flow: column;
			gap: var(--space-2xs);
			flex-grow: 1;

			/* Title */

			& .title {
				display: flex;
				flex-flow: row wrap;
				align-items: start;
				gap: var(--space-2xs);
				font-size: var(--font-size-xs);
			}

			/* Date */

			& .date {
				font-size: var(--font-size-3xs);
				font-weight: 500;
				color: var(--colour-ui-neutral-subtle);
			}

			/* Tags */

			& .tags-list {
				display: flex;
				flex-flow: row wrap;
				align-items: start;
				column-gap: 0.375rem;
				row-gap: 0.375rem;
				list-style-type: none;
				padding: 0;
				margin: 0;

				& li {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					padding: 0 var(--space-3xs);
					height: 1.125rem;
					min-width: 1.125rem;
					border-radius: var(--border-radius-small);
					background-color: var(--colour-fill-accent-subtle);
					font-size: var(--font-size-3xs);
					color: var(--colour-ui-accent);
					line-height: 1;
					transition: all var(--transition-linear-fast);
				}
			}

			/* Label */

			& .label {
				font-size: var(--font-size-2xs);
				font-weight: 600;
				color: var(--colour-ui-accent-subtle, var(--colour-ui-neutral-subtle));

				&.simple {
					display: none;
				}
			}

			/* Description */

			& .description {
				font-size: var(--font-size-2xs);
				font-weight: 500;
				color: var(--colour-ui-neutral-subtle);
				line-height: 1.4;
				transition: max-height var(--transition-ease-medium);
			}
		}

		/*
		// Layout Styles
		*/

		[data-layout^='list-'] & {
			&:is(:hover, :focus-visible) {
				--link-background-colour: var(
					--colour-fill-accent-subtle,
					var(--colour-fill-neutral-subtle)
				);
				--link-border-colour: var(
					--colour-border-accent-mid,
					var(--colour-border-neutral-mid)
				);
				--link-ui-colour: var(--colour-ui-accent, var(--colour-ui-neutral));

				& .icon.destination {
					@media (hover: hover) {
						opacity: 1;
						scale: 100%;
						transition:
							opacity var(--transition-linear-medium) 0.1s,
							scale var(--transition-ease-medium) 0.1s;
					}
				}

				& .text-container {
					& .date {
						color: var(--colour-ui-neutral);
					}

					& .tags-list li {
						background-color: var(--colour-fill-neutral-mid);
						color: var(--colour-ui-reverse);
					}

					& .description {
						color: var(--colour-ui-neutral);
					}

					& span.highlight {
						--highlight-background-colour: transparent;
						--highlight-ui-colour: var(--colour-ui-neutral);
					}
				}
			}

			[data-content='asset'] & {
				/* FIX: This container query mucks up the grid view, these styles are specific to list view */
				& .type-icon-container {
					@container detailed-link (width < 400px) {
						display: none !important;
					}
				}

				& .icon.destination {
					@container detailed-link (width < 400px) {
						opacity: 1;
						scale: 100%;
						transition: none;
					}
				}

				& .separator {
					@container detailed-link (width < 400px) {
						display: none !important;
					}
				}

				& .text-container {
					& .title {
						@container detailed-link (width < 400px) {
							flex-flow: column;
						}
					}

					& .label {
						&.detailed {
							display: none !important;
						}

						@container detailed-link
							(width < 400px) {
							&.simple {
								display: initial !important;
							}

							&.detailed {
								display: none !important;
							}
						}
					}
				}
			}
		}

		[data-layout='list-compact'] & {
			& .text-container .description {
				display: none !important;
			}
		}

		[data-layout='card'] & {
			--card-boxshadow-colour: var(--colour-border-accent-mid);
			--card-boxshadow-width: 2px;

			display: grid;
			grid-template-rows: auto 1fr;
			height: 100%;
			box-shadow: 0 0 0 var(--card-boxshadow-width) var(--card-boxshadow-colour);
			border-radius: var(--border-radius-normal);
			transition:
				box-shadow var(--transition-linear-fast),
				opacity var(--transition-linear-medium);

			& .banner {
				display: flex;

				& .icon-and-label-container {
					gap: var(--space-2xs);
					pointer-events: none;

					& .label-container {
						grid-template-columns: 1fr;
						opacity: 1;
					}
				}
			}

			& .wrapper {
				display: grid;
				grid-template-columns: 1fr;
				grid-auto-rows: auto 1fr;
				column-gap: var(--space-base);
				row-gap: var(--space-base);
				align-items: start;
				padding: var(--space-base);
				flex-grow: 1;

				@container card (min-width: 460px) {
					grid-template-columns: 1fr auto;
					grid-template-rows: auto auto;
					row-gap: var(--space-xs);
				}

				& .type-icon-container {
					display: none;
				}

				& .separator {
					display: none;
				}

				& .destination-icon-container {
					display: none;
				}

				& .text-container {
					& .title {
						flex-flow: column;
					}

					& .label {
						display: none !important;
					}
				}
			}

			&:is(:hover, :focus-visible) {
				--card-boxshadow-colour: var(--colour-border-accent-bold);
				--card-boxshadow-width: 3px;
			}

			/* Coming Soon Placeholder Card */
			div& {
				pointer-events: none;
			}
		}

		/*
		// Context Styles
		*/

		/* Inside Link Container */

		.link-container & {
			--link-background-colour: var(
				--colour-fill-accent-subtle,
				var(--colour-fill-neutral-subtle)
			);
			--link-ui-colour: var(--colour-ui-accent, var(--colour-ui-neutral));
			--link-border-colour: var(--colour-border-accent-mid, var(--colour-border-neutral-mid));
			min-height: 3.5rem;

			&:is(:hover, :focus-visible) {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px var(--colour-border-accent-subtle);
			}

			& .text-container .description {
				color: var(--colour-ui-neutral);
			}
		}

		/* Inside Resource Search List or Container */

		[data-content='mixed'] & {
			& .type-icon-container {
				display: none !important;
			}

			& .separator {
				display: none !important;
			}

			& .text-container {
				& .tags-list {
					display: none !important;
				}

				& .date {
					display: none !important;
				}
			}
		}

		/* Selected Inside Search List */

		:is(dialog, .content):has(fieldset.search input:focus-visible) &[aria-selected='true'] {
			--link-background-colour: var(
				--colour-fill-accent-subtle,
				var(--colour-fill-neutral-subtle)
			);
			--link-border-colour: var(--colour-border-accent-mid, var(--colour-border-neutral-mid));
			--link-ui-colour: var(--colour-ui-accent, var(--colour-ui-neutral));

			& .icon.destination {
				@media (hover: hover) {
					opacity: 1;
					scale: 100%;
					transition:
						opacity var(--transition-linear-medium) 0.1s,
						scale var(--transition-ease-medium) 0.1s;
				}
			}

			& .text-container {
				& .date {
					color: var(--colour-ui-neutral);
				}

				& .tags-list li {
					background-color: var(--colour-fill-neutral-mid);
					color: var(--colour-ui-reverse);
				}

				& .description {
					color: var(--colour-ui-neutral);
				}

				& span.highlight {
					--highlight-background-colour: transparent;
					--highlight-ui-colour: var(--colour-ui-neutral);
				}
			}
		}
	}
</style>
