---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import SectionNav from "../../components/SectionNav.astro";
import AssessmentToolbar from "../../components/AssessmentToolbar.astro";
import AssessmentDialogs from "../../components/dialogs/AssessmentDialogs.astro";
import Component from "../../components/Component.astro";
import IconArrow from "src/components/icons/IconArrowRight_16.astro";
import IconCompass from "src/components/icons/IconCompass_24.astro";
import IconArrowRightSmall from "src/components/icons/IconArrowRight_16.astro";
import IconArrowLeftSmall from "src/components/icons/IconArrowLeft_16.astro";

// Get the current indicator
export async function getStaticPaths() {
	const indicators = await getCollection("indicators");
	return indicators.map((indicator) => ({
		params: { slug: indicator.id },
		props: { indicator },
	}));
}

const { indicator } = Astro.props;

// Store the path to the current indicator
const pathToIndicator = `src/content/indicators/${indicator.id}`;

// Get all indicator descriptions
let allDescriptions = Object.values(
	import.meta.glob("src/content/indicators/**/description.md", {
		eager: true,
	}),
);

// Get the current indicator description
let description:any = allDescriptions.find((match:any) =>
	match.file.includes(pathToIndicator),
);

// Get all indicator components
let allComponents = await getCollection("components");

// Get all current indicator components
let components = allComponents.filter((component => component.data.indicator === indicator.id)).sort((a, b) => a.data.tag.localeCompare(b.data.tag));

// Get all indicator components
let allIndicators = await getCollection("indicators");

let prevIndicator = indicator.data.tag === '1' ? null : allIndicators.filter((sibling => Number(sibling.data.tag) == Number(indicator.data.tag) - 1))[0];
let nextIndicator = indicator.data.tag === '7' ? null : allIndicators.filter((sibling => Number(sibling.data.tag) == Number(indicator.data.tag) + 1))[0];

---

<BaseLayout pageTitle={indicator.data.title} indicatorTag={indicator.data.tag}>

	<AssessmentToolbar />

	<AssessmentDialogs />

	<SectionNav />

	<aside class="on-page-nav-container">
		<nav class="on-page">
			<h2 class="heading">On this page</h2>
			<ul class="links-list">
				{components.map((component) => (
					<li>
						<a href={`#component-${component.data.tag.replaceAll('.', '-')}`}>
							<span class="icon-container">
								<IconArrow classes={['destination']} />
							</span>
							<span class="text-container">
								<span class="text">{component.data.tag} {component.data.title}</span>
							</span>
						</a>
					</li>
				))}
			</ul>
		</nav>
	</aside>

	<div class="content" data-theme={indicator.data.colour}>

		<h1>{indicator.data.title}</h1>

		{description && <description.Content />}

		<ul class="links-list">
			{components.map((component) => (

				<li>
					<a href={`#component-${component.data.tag.replaceAll('.', '-')}`}>
						<span class="icon-container">
							<IconArrow classes={['destination']} />
						</span>
						<span class="text-container">
							<span class="text">{component.data.tag} {component.data.title}</span>
						</span>
					</a>
				</li>

			))}
		</ul>

		<div class="callout" data-style="solid">
			<p class="heading"><IconCompass/> Be on the lookout for the compass symbol!</p>
			<p>It flags focus areas on responding to students who have not demonstrated literacy and numeracy proficiency. A compass symbolizes guidance, and reflects the idea of navigating challenges toward student success.</p>
		</div>

		{components.map((component) => (

			<hr class="section"/>

			<Component entry={component}/>

		))}

		<div id="pagination-controls">

			{ prevIndicator && (
				<div class="prev-container">
					<span class="label">
						<IconArrowLeftSmall />
						Previous Indicator
					</span>
					<a href={`/big-seven/${prevIndicator.id}`}>
						{prevIndicator.data.title}
					</a>
				</div>
			)}

			{ nextIndicator && (
				<div class="next-container">
					<span class="label">
						Next Indicator
						<IconArrowRightSmall />
					</span>
					<a href={`/big-seven/${nextIndicator.id}`}>
						{nextIndicator.data.title}
					</a>
				</div>
			)}

		</div>

		<!-- TODO [REQUIRED]: Add next/prev indicator links -->

	</div>

</BaseLayout>
