---
import { getCollection } from "astro:content";

import { findObjectByKey } from "src/utilities/helpers";

import IconXmark from "src/components/icons/IconXmark_20.astro";
import IconWarningSmall from "src/components/icons/IconWarning_16.astro";
import IconSearch from "src/components/icons/IconSearch_20.astro";
import DetailedLink from "src/components/DetailedLink.astro";

let searchList = [];
let itemIndex = 1;

// Get all indicator
let allIndicators = await getCollection("indicators");
for (let indicator of allIndicators) {
	let data = JSON.parse(JSON.stringify(indicator.data));
	((data.itemId = `loc-${itemIndex}`), (data.category = "indicator"));
	data.slug = indicator.id;
	searchList.push(data);
	itemIndex += 1;
}

// Get all indicator components
let allComponents = await getCollection("components");

for (let component of allComponents) {
	let colour = findObjectByKey(allIndicators, "id", component.data.indicator)
		?.data.colour;

	let componentData = JSON.parse(JSON.stringify(component.data));
	((componentData.itemId = `loc-${itemIndex}`),
		(componentData.category = "component"));
	componentData.colour = colour;
	searchList.push(componentData);
	itemIndex += 1;

	let phases = ["initiating", "implementing", "developing", "sustaining"];
	for (let phase of phases) {
		for (let consideration of component.data[phase].considerations) {
			let considerationData = JSON.parse(JSON.stringify(consideration));
			((considerationData.itemId = `loc-${itemIndex}`),
				(considerationData.category = "consideration"));
			considerationData.indicator = component.data.indicator;
			considerationData.colour = colour;
			searchList.push(considerationData);
			itemIndex += 1;
		}
	}
}

itemIndex = 1;

// Get all resources
let allResources = await getCollection("resources", ({ data }) => {
	return data.published === true;
});

for (let resource of allResources) {
	let data = JSON.parse(JSON.stringify(resource.data));
	((data.itemId = `res-${itemIndex}`), (data.slug = resource.id));
	data.category = "resource";
	searchList.push(data);
	itemIndex += 1;
}
---

<dialog
	id="search-dialog"
	aria-labelledby="search-dialog_heading"
	data-reset-forms="true"
>
	<button class="close-dialog" type="button" aria-label="Close Search Dialog"
		><IconXmark /></button
	>

	<h2 id="search-dialog_heading" class="heading" data-default-text="Search">
		Search
	</h2>

	<form
		id="site-contents-list_primary-controls"
		data-list="site-contents-list"
		role="search"
	>
		<fieldset class="search">
			<p id="search-dialog_search-input_help" class="instructions">
				Search for an Indicator, Component, Consideration, or Resource
				by entering a valid tag (e.g., 1.0, 2.1, 3.1.1) or title.
			</p>
			<div class="input-container">
				<input
					id="search-dialog_search-input"
					name="search"
					type="text"
					role="combobox"
					autocomplete="off"
					aria-autocomplete="list"
					aria-expanded="false"
					aria-controls="site-contents-list"
					aria-activedescendant=""
					placeholder="Enter search term..."
					aria-labelledby="search-dialog_heading"
					aria-describedby="search-dialog_search-input_help, site-contents-list_error-status, site-contents-list_filter-status"
					data-focus-start
				/>
				<IconSearch />
			</div>
		</fieldset>
	</form>

	<div class="list-container">
		<p
			id="site-contents-list_error-status"
			class="error-status"
			role="status"
			hidden
		>
			<IconWarningSmall />
			<span>There are no results that match the search term.</span>
		</p>
		<p
			id="site-contents-list_filter-status"
			class="filter-status"
			role="status"
			aria-live="polite"
			hidden
		>
		</p>

		<ul
			id="site-contents-list"
			class="links-list"
			data-style="divided"
			data-content="mixed"
			role="listbox"
			data-search-control="site-contents-list_primary-controls"
			data-default-item-visibility="hidden"
			data-list-item-categories='["indicator", "component", "consideration", "resource"]'
			hidden
		>
			{
				searchList.map((item, index) => (
					<DetailedLink
						itemData={item}
						index={index}
						listName={"site-content-list"}
						itemHiddenByDefault={true}
					/>
				))
			}
		</ul>

		<button
			class="show-more"
			type="button"
			data-list="site-contents-list"
			data-style="solid"
			data-size="large"
			hidden
		>
			Show More Results
		</button>
	</div>
</dialog>

<style is:global>
	#search-dialog {
		margin-top: var(--space-xl);
	}
</style>
